/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css?family=Montserrat|Poppins&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --nav-clr-1: rgba(12, 16, 54, 0.77);
  --nav-clr-2: #fff;
  --nav-text-clr-1: white;
  --nav-text-clr-2: black;
  --tranistion: all 0.25s ease-in-out;

  --text-color: rgba(12, 16, 54, 0.77);
  --icon-clr-1: #2d9cdb;
  --icon-clr-2: #f2c94c;
  --icon-clr-3: #eb5757;
  --vector-clr: #f4f773;
  --centre-frame-clr: rgba(191, 247, 240, 0.65);
  --arc-clr: #eb5757;

  --black: #0a1128c9;
  --shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
}
